* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #f3f9d2;
  color: black;
  font-family: Poppins;
  font-size: 20px;

  display: flex;
  flex-direction: column;
}

.container {
  border: 1px solid orangered;
  /* flex: 1; */
  min-width: 1000px;
  margin: 0 auto;
  padding: 15px 30px;
}

h1 {
  /* margin-bottom: 20px; */
  font-size: 50px;
  color: #6f6f6f;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.container.grid {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.container.grid .tools {
  border: 2px solid salmon;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.container .canvas {
  border: 4px solid #787878;
  padding: 0;
  width: 648px;
  height: 648px;

  display: flex;
  flex-wrap: wrap;
}

footer.container {
  border: 4px solid blue;
  padding: 0px;
  max-height: 50px;
  line-height: 50px;
}

/* class that will give the divs the grid look */
.block-style {
  border: 2px solid #fce7c3;
  height: 40px;
  width: 40px;
}

/* highlight div with mouse hover */
.hover-effect:hover {
  background-color: #d2f9eb;
}

/* colour box on click  */
.colour-in {
  background-color: black;
}

/* all the button styles */
button {
  background-color: #f9d2df;
  border: 3px solid #f28aad;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 500;
  border-radius: 25px;
  padding: 8px 20px;
}

button:hover {
  background-color: #f28aad;
}

/* eraser hover colour */
.eraser-hover:hover {
  background-color: #f28a98;
}

/* selected */
.selected {
  background-color: #ea5084;
}
